@model EmarketDreamsBytes.Entity.Order

@{
    ViewBag.Title = "Done";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br />


<hr />

<h2 style="color:mediumturquoise">Order number:@Model.OrderId is done</h2>

<hr />
<br />
<a href="/" class="btn btn-default"><i class="fa fa-arrow-left"></i>  Back to main</a>
<br />
<br />
<a href="/Orders" class="btn btn-default"><i class="fa fa-arrow-right"></i>  Go to Orders</a>

